@page "/EditorScript/"
@page "/EditorScript/{Offset}"

@if (Rom.IsLoaded)
{

<div>Offset 0x</div>
<textarea @bind="@Offset" />
<Button @onclick="@(() => LoadScript())">Load</Button>
<br />
<textarea class="text-xl-center" @bind="@ScriptText" />

}

@code {
    [CascadingParameter] public RomPokemon Rom { get; set; }
    [Parameter] public string Offset { get; set; }="14BC72";

    string ScriptText { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"Inicio el editor de script {(!string.IsNullOrEmpty(Offset)?Offset:"")}");
        base.OnInitialized();
    }



    public void LoadScript(int offset = -1)
    {

        Script script;

        if (offset < 0&&!string.IsNullOrEmpty(Offset))
            offset = (int)(Hex)Offset;
        Console.WriteLine(offset);
        if (offset >= 0)
        {

                script = new Script(Rom.Rom, offset);
                ScriptText = script.GetAllDeclaracionXSE(Rom.Rom, null);
        }
    }
}
