@page "/EditorScript/"
@page "/EditorScript/{Offset}"

@if (Rom.IsLoaded)
{
    <div class="divScript">
        <div>
            <text>Offset 0x</text>
            <textarea class="txtOffset" @bind="@Offset" />
            <Button @onclick="@(() => LoadScript())">Load</Button>
        </div>
        <br />
<textarea class="txtScript" @bind="@ScriptText" />
    </div>
}

@code {
    [CascadingParameter] public RomPokemon Rom { get; set; }
    [Parameter] public string Offset { get; set; }="14BC72";

    string ScriptText { get; set; }

    public void LoadScript(int offset = -1)
    {

        Script script;

        if (offset < 0&&!string.IsNullOrEmpty(Offset))
            offset = (int)(Hex)Offset;
        if (offset >= 0)
        {

                script = new Script(Rom.Rom, offset);
                ScriptText = script.ToXSEOrdenadoPorBloques();
        }
    }
}
