@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="Rom">
            @Body
        </CascadingValue>
    </div>
</div>
@code{
    private RomPokemon Rom { get; set; }
    protected override void OnInitialized()
    {
        Rom = new RomPokemon();
        base.OnInitialized();
    }
}